#register_form {
     margin: 150px auto;
     width: 600px;
}

#register_form h1 {
     font-size: 42px;
     text-align: center;
     margin-bottom:15px
}

#register_form form {
    width:500px;
    margin:0 auto;
    padding:20px 50px 50px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

#register_form input[type="text"], #register_form input[type="password"] {
     margin: 10px 0pt 10px 10px;
     padding: 8px;
     width: 200px;
}

#register_form button[type="submit"] {
     font-size: 20px;
     margin:15px;
     padding: 12px;
     width: 150px;
}
#register_form button[type="cancel"] {
	margin-left:50px;
}

