body {
background-image:url('husk.png');
background-repeat: repeat;
}
.hero-unit {
border-bottom:2px solid #CCC;
}
.container {
background-image:url('grid_noise.png');
background-repeat:repeat;
}
.bg {
z-index:1;
position:relative;
float:right;
/*background-color:#F2F2F2;*/
opacity:0.8;
filter:alpha(opacity=80);
}
.hero-unit h1 {
text-shadow: 0px 2px 3px #666;
}
.hero-unit, .container {
z-index:-5;
}
a:hover{
text-decoration:none;
}

.light {
font-weight:200;
margin-top:25px; 
margin-bottom:30px;
font-size:36px;
padding-bottom:15px;
text-shadow: 0px 2px 3px #666;
}

.footer {
  margin: 17px 0 0 0;
  font-size: 13px;
  padding: 30px 0;
  border-top: 1px solid #ddd;
  -moz-box-shadow: 0 1px 0px #fff inset;
  -webkit-box-shadow: 0 1px 0px #fff inset; }
.footer a:link, .footer a:visited, .footer a:active {
  color: #666;
  font-weight: 300;
  margin-right: 15px;
  text-shadow: 0 1px 0 #fff; }
.footer .mixpanel {
  float: right;
  margin-top: -12px; }
  .footer .mixpanel a {
    margin: 0; }

